.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_editor_container,
.inputs {
  display: flex;
  flex-direction: column;
}

.article_editor_container {
  width: 90vw;
  gap: 5em;
  margin: 5em;
  border-radius: 20px;
  padding: 2em;
  background-color: #ffac99;
  align-items: center;
  justify-content: center;
}

.richTextEditor_root {
  width: 85vw;
}

@media screen and (max-width: 480px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs input {
    width: 80vw;
  }
}
