.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: bottom;
  background-size: 100vw;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1171%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c203 C 96%2c163.2 288%2c6.6 480%2c4 C 672%2c1.4 768%2c179.6 960%2c190 C 1152%2c200.4 1344%2c82.8 1440%2c56L1440 560L0 560z' fill='rgba(255%2c 172%2c 153%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c514 C 144%2c476 432%2c338.2 720%2c324 C 1008%2c309.8 1296%2c419.2 1440%2c443L1440 560L0 560z' fill='rgba(245%2c 48%2c 41%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1171'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.logo {
  width: 15%;
  position: relative;
  top: -280px;
  left: -250px;
  animation-name: slidein;
  animation-duration: 650ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.illustration {
  width: 40%;
  position: relative;
  top: 6em;
  left: -10em;
  animation-name: slidein;
  animation-duration: 650ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.title {
  padding-left: 5em;
  opacity: 0;
  max-width: 716px;
  animation-name: slidein;
  animation-duration: 650ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.links {
  display: flex;
  gap: 2em;
}

.link {
  opacity: 0;
  color: #f53029;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  animation-name: slidein;
  animation-duration: 650ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.link:nth-last-of-type(2) {
  animation-delay: 450ms;
}

.link:hover {
  color: white;
}

@media screen and (max-width: 480px) {
  .container {
    flex-wrap: wrap;
  }
  .title {
    padding: 1em;
  }
  .link:hover {
    color: #f57571;
  }

  .logo {
    position: absolute;
    top: 40vh;
    left: 10vw;
  }

  .illustration {
    width: 100%;
    position: relative;
    top: 3vh;
    left: 0em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .title {
    padding: 1em;
  }
  .link:hover {
    color: #f57571;
  }

  .logo {
    position: absolute;
    top: 400px;
    left: 10vw;
  }

  .illustration {
    width: 100%;
    position: relative;
    top: 3vh;
    left: 0em;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .illustration {
    width: 100%;
    position: relative;
    top: 20vh;
    left: 0em;
  }

  .logo {
    position: absolute;
    top: 10vh;
    left: 80vw;
  }

  .title {
    padding-left: 5em;
  }
}
