.nav_contrainer {
  width: 99vw;
  background-color: #ffac99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

nav a {
  list-style: none;
  font-size: 1.6em;
  color: white;
  transition: all ease-in-out 350ms;
}

nav a:hover {
  color: #870e07;
  cursor: pointer;
}

.nav_contrainer img {
  width: 15%;
  height: 15%;
}

.active {
  color: #870e07;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .nav_contrainer {
    width: 100vw;
    padding: 1em 1em 1em 1em;
  }
  nav a {
    font-size: 1em;
  }
  .logOut {
    margin-right: 2em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav_contrainer {
    width: 100vw;
    padding: 1em 1em 1em 1em;
  }
  nav a {
    font-size: 1.2em;
  }
  .logOut {
    margin-right: 2em;
  }
}
